body{
  background: black;
}
a{
  text-decoration: none;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}


.topNavBar .logo { 
  font-family: "Arial Rounded MT Bold";
  font-size: 22px;
  padding-top: 1px;
  
}
.topNavBar .logo .rs{ 
  color: #e6686a;
  margin-right: 4px;
}
.topNavBar .logo .card{ 
  color: #9A9DA2;
}

.topNavBar nav { /*顶部导航条靠右一长串*/
  font-size: 13px;
  padding:8px 0;
}
.topNavBar nav a{ 
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: bold;
}
.topNavBar nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.topNavBar nav ul>li{
  float: left;
  margin:0 17px;
}
.topNavBar nav ul>li>a{
  border-bottom: 3px solid transparent;
}
.topNavBar nav ul>li>a:hover{
  border-bottom-color: #DC6465;
}