*{margin: 0;padding: 0;}
a{text-decoration: none;}
body{
    background: grey url('./99CC.jpg') no-repeat;
    background-size: cover;
}

.wrap{
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
}
kbd{
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd > a{
    position: absolute;
    right: 4px;
    bottom: 2px;
    display: none;


}
kbd:hover > a{
    display: inline-block;
    color:white;
    background-color:orange;
    font-size: 10px;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-weight: bolder;
    border-color: orange;

}
main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#mainXX{
    display: inline-block;
}

#mainXX > div:nth-child(2){
    margin-left: -22px;
}
#mainXX > div:nth-child(3){
    margin-left: -80px;
}


.key{
    width: 61px;
    height: 58px;
    border-radius: 8px;
    font-size: 22px;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    position: relative;
    background-color: #000;
    color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.row{
    margin: 20px;
}
.row .key{
    margin: 0 10px;
}
.key img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    bottom: 3px;
}
.key .text{
    position: absolute;
    left: 22px;
    top: 11px;
}
.row:nth-child(1)>kbd:nth-child(8)>span{
    margin-left: 6px;

}